// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Avenir";
  src: font-url('AvenirLTStd-Book.eot');
  src: font-url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
       font-url('AvenirLTStd-Book.woff') format('woff'),
       font-url('AvenirLTStd-Book.ttf') format('truetype')
  // font-weight: normal;
  // font-style: normal;
}
$my-font: "Avenir";
