// Specific CSS for your home-page
.main-container {
  // background-color: black;
  // object-fit: contain;
  // height: 8em;
  // margin: 0px;
}
.container-1 {
  background-color: black;
  margin: 0px;
  object-fit: contain;
  height: 6rem; //80px
  width: auto;
  .levanta-zabele {
    display: flex;
    padding-inline-start: 2rem;
    align-items: center;
  }
}
.levanta-zabele img {
  height: 6rem;
  width: auto;
  object-fit: contain;
  padding: 1rem;
}
.banner-1 {
  background-image: url("Floresta_Imagem.png");
  background-size: contain;
  background-size: cover;
  height: 30rem;
  width: auto;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-1 img {
  height: 20rem;
  width: auto;
}
.container-2 {
  background-color: #0094d9;
  height: 36rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.container-2 img {
  height: 17rem;
  width: auto;
  // height: 7rem;
  width: auto;
  // padding-bottom: 5rem;
  margin-bottom: 16rem;
  margin-right: 2rem;
}
.who-are-we {
  // padding: 8rem;
}
.fonts-1 {
  font-size: 2rem;
  color: white;
  font-family: Georgia;
  width: 24rem;
}
.fonts-2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  width: 24rem;
}
.banner-2 {
background-color: #ec1846;
}
.fonts-3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  font-weight: bolder;
  width: 13rem;
  color: white;
}
.container-3 {
  background-color: #ec1846;
  display: flex;
  justify-content: center;
  font-size: medium;
}
