// Specific CSS for your home-page
.container-1 {
  background-color: black;
  object-fit: contain;
  height: 8em;
  margin: 0px;
}
.levanta-zabele {
  object-fit: contain;
  height: 6rem; //80px
  width: auto;
  .levanta-zabele {
    display: flex;
    padding-inline-start: 2rem;
    align-items: center;
  }
}
.levanta-zabele img {
  height: 6rem;
  width: auto;
  object-fit: contain;
  padding: 1rem;
}
// #1 {
//   font-family: fantasy;
//   font-size: xx-large;
// }

.origin {
  font-family: "Avenir";
  font-weight: normal;
}
.yakuy {
font-family: "Avenir Pro";
font-weight: normal;
}
