// Specific CSS for your home-page
.main-container {
  // background-color: black;
  // object-fit: contain;
  // height: 8em;
  // margin: 0px;
}
.container-1 {
  background-color: black;
  object-fit: contain;
  height: 8em;
  margin: 0px;
}
.levanta-zabele {
  display: flex;
  align-items: center;
  height: fit-content;
  padding-inline: 5% 10%;
  object-fit: cover;
}
.levanta-zabele img {
  max-height: auto;
  max-width: auto;
  object-fit: contain;
}
