// Specific CSS for your home-page
.universo-una {
  background-color: black;
  height: 8rem; //80px
  width: auto;
  // margin: auto;
  display: flex;
  align-items: center;
}
.universo-una img {
  height: 6rem;
  width: auto;
  margin-left: 3rem;
}

.banner-1 {
  background-image: url("Floresta-Una.png");
  background-size: cover;
  height: 30rem;
  width: auto;
  font-size: 7rem;
  font-family: fantasy;
  color: #67cf5b;
  margin: auto;
  padding-inline: 10rem;
}
#branco {
  color: white;
}
.banner-1 img {
  height: 20rem;
  width: auto;
}
