.utero {
  background-color: black;
  height: 8rem; //80px
  width: auto;
  display: flex;
  align-items: center;
  padding-left: 10%
}
.utero img {
  height: 6rem;
  width: auto;
  margin-left: 3rem;
}
.banner-utero {
  background-color: black;
}
.banner-utero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.utero-principios {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
  margin-inline: 16%;
}
.utero-principios img {
  height: 14rem;
}
.font-principios {
  font-family: Georgia;
  padding-left: 5%;
  padding-top: 6%;
  margin-right: 6%;
}
#font-red-big {
  color:#ec1846;
  font-family: Georgia;
  font-size: 1.5rem;
  font-weight: bold;
}
.decolonizacao {
  background-image: url('Decolonizacao_Fundo.jpg');
  background-size: contain;
  background-size: cover;
  height: 35rem;
  width: auto;
}
.decolonizacao img {
  width: 30%;
  margin: auto;
  margin-top: 15%;
  margin-left: 30%;
  margin-bottom: 3%;
}
#decolonizacao {
  color: white;
  font-size: medium;
  padding-left: 42%;
  padding-right: 28%;
  font-family: Georgia;
}
.decolonizacao-vermelho {
  background-color: #ec1846;
  display: flex;
  font-family: Georgia;
  font-size: medium;
  padding-block: 2rem;
  padding-inline: 17%;
}
.decolonizacao-vermelho img {
  width: auto;
  height: 18rem;
  padding-top: 5%;
}
.font-deco {
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.troca-saberes {
  background-image: url('TrocaSaberes_Fundo.jpg');
  background-size: contain;
  background-size: cover;
  height: 35rem;
  width: auto;
}

.troca-saberes img {
  width: 30%;
  margin: auto;
  margin-top: 15%;
  margin-left: 30%;
  margin-bottom: 3%;
}
#azul {
  background-color: #0094d9;
}
.mae-terra {
  background-image: url('RetornoMaeTerra_Fundo.jpg');
  background-size: contain;
  background-size: cover;
  height: 35rem;
  width: auto;
}

.mae-terra img {
  width: 30%;
  margin: auto;
  margin-top: 15%;
  margin-left: 30%;
  // margin-bottom: 3%;
}

#verde {
  background-color: #67cf5b;
}
