<div class="cooperate">
    <div id="1">
      <p>PARTICIPE DA
        REDE COLABORATIVA DE PROJETOS MULTICULTURAIS
        E EDUCACIONAIS LEVANTA ZABELÊ.
        Qual a sua potência? Entre em contato
        e saiba como colaborar:
        levantazabele@gmail.com
        ou em nossas redes sociais.</p>
    </div>
    <div id='2'>
      <p>APOIE NOSSO CROWDFUNDING
      E A REALIZAÇÃO
      DO UNIVERSO ÚTERO AMOTARA ZABELÊ.</p>
    </div>
    <div id='3'>
        <p>EMPRESAS, ENTIDADES CIVIS E INVESTIDORES, SEJAM NOSSO PARCEIRO NESSA JORNADA</p>
    </div>
  </div>
