<div class="footer">
  <div class="movimenta-zabele">
    <%= image_tag "Movimenta_Picto-G.png", style: "height:10rem" %>
    <%= image_tag "MovimentaZabele_Tipo.png", style: 'height:7rem' %>
    <div >
      <p>Fique por dentro de nossos projetos e atividades</p>
      <%= image_tag "Flecha_Picto.png", style: 'height:2rem' %>
    </div>
  </div>
  <div class="balls">
    <div class="division-balls">
      <div class="blue-ball">
        <p><b> PARTICIPE DA
          REDE COLABORATIVA DE PROJETOS MULTICULTURAIS
          E EDUCACIONAIS LEVANTA ZABELÊ.</b></p>
        <p></p> Qual a sua potência? Entre em contato
          e saiba como colaborar:
          <b>levantazabele@gmail.com</b>
          ou em nossas redes sociais.
      </div>
      <div class="green-ball">
        <p><b>APOIE NOSSO CROWDFUNDING
        E A REALIZAÇÃO
        DO UNIVERSO ÚTERO AMOTARA ZABELÊ.</b></p>
      </div>
    </div>
    <div class="black-ball">
        <p><b>EMPRESAS, ENTIDADES CIVIS E INVESTIDORES, SEJAM NOSSO PARCEIRO NESSA JORNADA</b></p>
        <p>Entre em contato:</p>
        <p><b>levantazabele@gmail.com</b></p>
    </div>
  </div>
  <div class="icons">
  <%= image_tag "Indicador-link-responsivo.png" %>
  </div>
</div>
