<div class="color-width">
  <div class="levanta-zabele">
    <%= image_tag "LEVANTA-ZABELE-LABEL-AZUL-P.png" %>
    <%= image_tag "LEVANTA-ZABELE-AZUL-text.png" %>
  </div>
  <div class="who-are-we">
    <p>Levanta Zabelê é um núcleo de projetos interculturais.
      Uma rede de colaboradores do Brasil e do mundo que envolve profissionais, pesquisadores, ativistas, educadores, artistas, artesãos; de variadas origens, culturas e áreas do conhecimento. Juntos, formamos um corpo, orgânico. Um ser-coletivo.
      Com origem indígena, o Levanta Zabelê é uma rede aberta, diversa e realizadora de projetos que promovem experiências de aprendizagem viva com troca de saberes, expressões artísticas, convivências e interações com a Natureza.
      Também integram a rede Levanta Zabelê empresas, entidades e organização civis apoiadoras que compartilham nossos propósitos e contribuem com a realização
      e evolução de nossa sociedade e o planeta.</p>
  </div>
  <div class="origin">
    <p>“Nós, Povos da Floresta, vivenciamos essa transcendência. Sabemos da importância de estarmos ligados
  a outros elementos essenciais à vida.
  Fazemos parte de um todo”.</p>
  </div>
  <div class="yakuy">
    <p>Yakuy Tupinambá, origem do Útero.
Da comunidade Tupinambá de Olivença/ Bahia, palestrante na ABL (Academia Brasileira de Letras), junto ao filósofo italiano Gianni Vattimo, em 2008, atuante no evento mídias nativas (São Paulo, em 2007 e 2009). Docente
no Curso de Extensão em filosofia indígena, Escutar o Outro na Faculdade de Letras da UFRJ em 2010. Pensadora indígena, escritora, comunicadora e idealizadora do Levanta Zabelê e do Universo Intercultural de Saberes Útero Amotara Zabelê.</p>
  </div>
  <div class="ideas">
    <p>Nossas ideias e projetos tem uma origem: o Útero.
  Conheça nosso propósito e os conceitos que nos movem.</p>
  </div>
  <div class="projects">
    <p>Desenvolvemos projetos educativos e interculturais
de variados temas envolvendo mutirões comunitários, fomento de economia sustentável na comunidade tupinambá de Una, onde está localizado o Universo Útero,
produções artísticas (musicais e audiovisuais), acadêmicas e literárias,
geração e difusão de conteúdos.
Veja abaixo alguns projetos e ações realizadas pelo coletivo Levanta Zabelê.</p>
  </div>
  <div class="net">
    <p>Conheça nossos apoiadores e parceiros que estão juntos nessa jornada, fazendo acontecer.</p>
  </div>
</div>
