<div class="color-width">
  <div class="levanta-zabele">
    <%= image_tag "LEVANTA-ZABELE-LABEL-AZUL-P.png" %>
    <%= image_tag "LEVANTA-ZABELE-AZUL-text.png" %>
  </div>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
