<div class="main-container">
  <div class="utero">
    <%= image_tag "Utero_Logo.png" %>
  </div>

  <div class="banner-utero">
    <%= image_tag "Utero-Terra.jpg" %>
  </div>

  <div class="utero-principios">
    <%= image_tag "U-Principios_Titulo.png" %>
    <div class="font-purpose">
      <p><b>Útero</b> é o nome do conceito-guia que gerou, orienta, move o <b>ser-Zabelê</b> e suas realizações, como o <b>Universo Autônomo Intercultural de Saberes • Útero Amotara Zabelê.</b></p>
      <p>Representa a contínua geração, aprendizado e evolução da vida.</p>
      <p id="font-red-big">Útero é a experiência de vida.</p>
      <p><b> • nós com a Natureza e o Cosmo;</b><br><b> • saberes, fazeres e seres diversos;</b><br><b>• ancestralidade, presente e futuro;</b><br><b>• coletivo, ética e indivíduo;</b><b>• corpo, organismo e mente;</b><br><b>• ideias, palavras e atitudes.</b></p>
      <p id="font-red-big">Útero é a origem e integra 3 princípios.</p>
    </div>
  </div>

  <div class="decolonizacao">
    <%= image_tag "Decolonizacao_Tipo.png" %>
    <p id=decolonizacao><b>Interagindo, transformando, integrando o ser na diversidade e preparando o corpo-organismo-mente para uma nova experiência de vida.
    </b></p>
  </div>



</div>
