.footer {
  margin-top: 20%;
}
.balls {
  background-image: url("Fundo_Bolas.png");
  display: flex;
  justify-content: center;
  width: 40rem;
  height: 40rem;
  background-size: contain;
  margin: auto;
}
.blue-ball {
  background-image: url("Bola_Azul.png");
  background-size: contain;
  background-size: cover;
  height: 15rem;
  width: 15rem;
  font-size: small;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.green-ball {
  background-image: url("Bola_Verde.png");
  background-size: contain;
  background-size: cover;
  height: 15rem;
  width: 15rem;
  font-size: small;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.black-ball {
  background-image: url("Bola_Preta.png");
  // background-size: contain;
  background-size: cover;
  height: 15rem;
  width: 15rem;
  color: #67cf5b;
  font-size: small;
  text-align: center;
  padding-top: 4rem;
  margin-top: 10rem;
}
.movimenta-zabele {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 70%;
  margin: auto;
  margin-block-end: 5%;
}
.movimenta-zabele img {
      // height: 10rem;
  width: auto;
  padding: 2%;
}
.icons {
  margin-inline-start: 75%;
  margin-block-start: 5%;
}
.icons img {
  height: 3rem;
  width: auto;
}
