.cooperate {
  background-image: url("Fundo_Bolas.png");
  height: 100rem;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 20%;
}

#1 {
  background-image: url("Bola_Azul.png");
  height: 30rem;
  // background-size: contain;
  background-size: cover;
  background-color: #0094d9;
}

#2 {
  background-image: url("Bola_Verde.png");
  height: 30rem;
}

#3 {
  background-image: url("Bola_Preta.png");
  height: 30rem;
}
